<div class="col-sm-3">
    <div class="tab-pane" id="tab-todo">
        {% if request.user.is_authenticated %}
            <button class=button-13" role="button">
                <a href="{% url 'create-list' %}">
                    <i class="fa-solid fa-plus"></i>
                    Создать новый список
                </a>
            </button>

            <ul class="widget-todo">
                {% for item in lists %}
                    <li class="item">
                        <span style="color: {{ item.color }}; font-weight: bold; font-size: 32px">|</span>
                        <a class="item__link" href="{% url 'list' pk=item.pk %}">
                            {{ item.name }}
                        </a>
                        <a href="{% url 'edit-list' pk=item.pk %}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="{% url 'delete-list' pk=item.pk %}"><i class="fa-solid fa-trash"></i></a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>