<div class="col-sm-3">
    <div class="tab-pane" id="tab-todo">
    {% if request.user.is_authenticated %}
        <a href="{% url 'create-list' %}" align="right">Создать новый список</a>
        <ul class="widget-todo">
            {% for item in lists %}
                <li class="item">
                    <span style="color: {{ item.color }}; font-weight: bold; font-size: 32px">|</span>
                    <a class="item__link" href="{% url 'list' pk=item.pk %}">
                        {{ item.name }}
                    </a>
                    <a href="{% url 'edit-list' pk=item.pk %}"><i class="fa-pencil-square-o" aria-hidden="true"></i></a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
</div>