body {
    background: #eee;
    font-family: "Montserrat", sans-serif;
}

.btn-success {
    background-color: #2ecc71;
    border-color: #27ae60;
}

.btn {
    border: none;
    padding: 6px 12px;
    border-bottom: 4px solid;
    -webkit-transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
    transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
    outline: none;
}

.checkbox-nice label {
    padding-top: 3px;
}

label {
    font-weight: 400;
    font-size: 0.875em;
}

.checkbox-nice input[type=checkbox] {
    visibility: hidden;
}

.checkbox-nice {
    position: relative;
    padding-left: 15px;
}

.widget-todo .name {
    float: left;
}

.widget-todo>li {
    border-bottom: 1px solid #ebebeb;
    padding: 10px 5px;
}

.widget-todo {
    list-style: none;
    margin: 0;
    padding: 0;
}

.label {
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: 600;
}

.tabs-wrapper.tabs-no-header .tab-content {
    padding: 0 20px 20px;
}

.nav-tabs>li>a {
    border-radius: 0;
    font-size: 1.125em;
    font-weight: 300;
    outline: none;
    color: #555;
    margin-right: 3px;
}

.nav>li {
    float: left;
}

.tabs-wrapper .nav-tabs {
    margin-bottom: 15px;
}

.nav-tabs {
    background: #d0d8de;
    border-color: transparent;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.main-box {
    background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 16px;
    -webikt-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.item__link {
    text-decoration: none;
    color: #2d2d2d;
    font-size: 20px;
}

.item__link:hover {
    text-decoration: none;
    color: #2d2d2d;
}

/* CSS */
.button-13 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button-13:hover {
  background-color: #f7fafa;
}

.button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}
