{% extends 'base.html' %}
{% block content %}
    <h1>Login</h1>
    <br/>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="username" aria-describedby="emailHelp">
        </div>
        <br>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input id="password" type="password" class="form-control" name="password">
        </div>
        <br>
        <input type="submit" value="Login" class="btn btn-success">
    </form>
{% endblock %}