{% extends 'base.html' %}
{% block content %}
    {% include "profiles/partials/task-lists.html" %}
    {{ task_list.name }}
    <a href="{% url 'create-task' pk=task_list.pk %}">Добавить задачу</a>
    <ul class="widget-todo">
        {% for item in tasks %}
            <li class="item">
                <div class="item__card">
                    <p>Название: {{ item.name }}</p>
                    <p>Уровень: {{ item.level.name }}</p>
                    <p>Завершен? {{ item.is_done }}</p>
                    <p>Дата создания {{ item.created_at }}</p>
                    <p>Дата обновления {{ item.updated_at }}</p>
                    {% if item.is_done %}
                    <a href="{% url 'incomplete-task' pk=task_list.pk task_id=item.pk %}" class="btn btn-success">Пометить как незавершенное</a>
                    {% else %}
                    <a href="{% url 'complete-task' pk=task_list.pk task_id=item.pk %}" class="btn btn-success">Пометить как завершенное</a>
                    {% endif %}
                    <a href="{% url 'delete-task' pk=task_list.pk task_id=item.pk %}" class="btn btn-danger">Удалить</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}